@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>
<h3>Heroes</h3>
<p><a href='addhero'>Add</a></p>
<p><a href='updatehero'>Update</a></p>
<p><a href='delete/hero'>Delete</a></p>
<h3>Spells</h3>
<p><a href='addspell'>Add</a></p>
<p><a href='updatespell'>Update</a></p>
<p><a href='delete/spell'>Delete</a></p>
<h3>New Heroes</h3>
<p><a href="deletenew">Delete</a></p>
<hr>
<p><a href="/logout">Logout</a></p>