@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>
<h3>Heroes</h3>
<p><a href='addhero'>Add</a></p>
<p><a href='updatehero'>Update</a></p>
<p>Delete</p>
<h3>Spells</h3>
<p><a href='addspell'>Add</a></p>
<p>Update</p>
<p>Delete</p>