@model List<DotaAPI.Models.New_Hero>
@{
    ViewData["Title"] = "Home Page";
}
@if(ViewBag.name == null)
{
    <h3>Welcome to DotaCreator!</h3>
}
else
{
    <h3>Welcome, @ViewBag.name!</h3>
}
<p><a href="create">Create a hero</a> now, or <a href="heroes">view other users' heroes.</a></p>
<h4>Newest heroes</h4>
@foreach(var x in Model)
{
    <p><a href='/hero/@x.id'>@x.name</a></p>
}
<hr>
@if(ViewBag.name == null)
{
    <p><a href='login'>Log in</a> or <a href='register'>create an account</a> to keep track of your created heroes and vote on other heroes!</p>
}
else
{
    <p><a href='logout'>Log out</a></p>
}